.App {
  text-align: center;
}

.App-header {
  background-color: rgb(32, 41, 58);
  padding-top: 30px;
  min-height: 100vh; /* contains height */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

body {
  margin: 0;
  background-color: #f0f2f5;
}


.title{
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
}

.top-btns {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.set-btn, .fetch-api-btn{
  background-color: darkslateblue;
  color: white;
  padding: 10px 10px; 
  margin: 5px 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #7f9bf5;
}

/* TODO: come up with a color scheme probably */
.set-btn:hover, .fetch-api-btn:hover {
  background-color: #3182ce;
}

.api-response-info {
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}

.api-response-info li{
  list-style: none;
  padding: 0;
  text-align: left;
}

.set-input{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.input-box {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7f9bf5;
  background-color: #191e29;
  color: white;
  font-size: 1rem;
  width: calc(95%);
}

.set-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.set-row .input-box {
  width: calc(40% - 10px);
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
